				@font-face {
					font-family: 'futura-light';
					src: url('/kromamoney.com/wp-content/uploads/useanyfont/7977Futura-Light.woff2') format('woff2'),
						url('/kromamoney.com/wp-content/uploads/useanyfont/7977Futura-Light.woff') format('woff');
					  font-display: auto;
				}

				.futura-light{font-family: 'futura-light' !important;}

						@font-face {
					font-family: 'futura-condensed';
					src: url('/kromamoney.com/wp-content/uploads/useanyfont/7367Futura-Condensed.woff2') format('woff2'),
						url('/kromamoney.com/wp-content/uploads/useanyfont/7367Futura-Condensed.woff') format('woff');
					  font-display: auto;
				}

				.futura-condensed{font-family: 'futura-condensed' !important;}

						@font-face {
					font-family: 'futura';
					src: url('/kromamoney.com/wp-content/uploads/useanyfont/2810Futura.woff2') format('woff2'),
						url('/kromamoney.com/wp-content/uploads/useanyfont/2810Futura.woff') format('woff');
					  font-display: auto;
				}

				.futura{font-family: 'futura' !important;}

						h1, h2, h3, h4, h5, h6, .entry-title, body.single-post .entry-title, body.page .entry-title, body.category .entry-title, .widget-title{
					font-family: 'futura-condensed' !important;
				}
						body, p, li, a{
					font-family: 'futura-light' !important;
				}
						strong, b{
					font-family: 'futura-condensed' !important;
				}
		